# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
bin/
cmake-build-beginDebug/
/cmake-build-beginDebug/
*.make
cmake-build-beginDebug/CMakeFiles/Makefile2

/interpreter/src/core/parser/generated/
/deps/antlr/build/
/build/
/deps/antlr/run/
/deps/antlr/cmake/
.idea
/cmake-build-debug/
/docs/page/_site
/cmake-build-debugclang/
/cmake-build-release/
